@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Imagine Cafe!</h1>
    <img src="~/img/coffee.png" alt="Logo" width="600" height="400"/>
    <p>Everyone has an imagination, why not bring it to life when you visit Imagine Cafe.</p>
    <p>Enjoy the food, the drinks and the entertainment.</p>
    <p>Live entertainment every Wednesday and Friday afternoon.</p>

    <p> <a href="/home/menu">Our Menu</a> <a href="/home/locations">Locations</a> <a href="/home/feedback">Feedback</a></p>
    <p>Register and become a new <a href="/home/registrationForm">rewards member</a>.</p>

</div>
