@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Imagine Coffee Shop!</h1>
    <p>Register ant become a new <a href="/home/registrationForm">rewards member</a>.</p>
</div>
