@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Imagine Cafe!</h1>
    <img src="~/img/coffee.png" alt="Logo" width="600" height="400"/>
    <p> Only located in four states: Michigan, Nevada, Ohio and Flordia</p>
    <p>Register and become a new <a href="/home/registrationForm">rewards member</a>.</p>

</div>
