@{
    ViewData["Title"] = "locations";
}
<h1>Four locations serving you!</h1>

<form method="post" action="/home/locations">
    <fieldset>
        <img src="~/img/FL Location.png" alt="Florida" width="400" height="200" />
        <p>1965 Bay Lake </p>
        <p>Orlando,FL 32830</p>
        <p>(407)953-7223</p>
    </fieldset>
    <fieldset>
        <img src="~/img/MI Location.png" alt="Michigan" width="400" height="200" />
        <p>195677 Eureka Rd</p>
        <p>Taylor, MI 48180</p>
        <p>(313)953-7332</p>
    </fieldset>
    <fieldset>
        <img src="~/img/NV Location.png" alt="Nevada" width="400" height="200" />
        <p>2598 Westland Fair</p>
        <p>Las Vegas, NV 88901</p>
        <p>(702)953-3723</p>
    </fieldset>
    <fieldset>
        <img src="~/img/OH Location.png" alt="Ohio" width="400" height="200" />
        <p>4356 York Commons Blvd</p>
        <p>Dayton, OH 45412</p>
        <p>(937)953-2337</p>
    </fieldset>
</form>