
@{
    ViewData["Title"] = "registrationForm";
}

<h1>Fill out the form to become a member.</h1>

<form method="post" action="/home/userAdded">

    First Name: <input type="text" name="firstName" /><br />
    Last Name: <input type="text" name="lastName"/><br />
    Email: <input type="text" name="email"/><br />
    Phone Number: <input type="text" name="phoneNumber" /><br />
    Password: <input type="text" name="password"/><br />

    <input type="submit" />



</form>

