
@{
    ViewData["Title"] = "userAdded";
}

<h1>Thank You @ViewData["FirstName"] on becoming a rewards member!</h1>
<h2>Your member number is 0000007613864492</h2>
<h2>Your card will be mailed in 7-14 business days.</h2>

